
body{
    font-family: "Roboto Light";
}
header{
    background-color: #f66487;
}
a{
    text-decoration: none;
    color: #000;
}
.themes{
    background-color: antiquewhite;
    text-align: center;
}
.theme_item{
    color: blueviolet;
}
.collapsed{
    display: none;
}
footer>a{
    color: darkgray;
}