.profile_info_block {
    float: left;
    width: 100%;
}
.profile_info-name {
    width: 89%;
    float: left;
    padding: 10px 0 0 1%;
    font-weight: bold;

}
.profile_info-settings {
    float: right;
    text-align: right;
    margin: 10px 1% 10px;
}
.profile_info-email {
    float: left;
    width: 98%;
    padding: 10px 1% 0 1%;
    word-wrap: break-word;
}
.profile_info-about {
    width: 98%;
    float: left;
    padding: 10px 1% 10px 1%;
    word-wrap: break-word;
}
.profile_info-rating {
    background-color: #11ff8e;
    float: left;
    text-align: center;
    height: 100px;
    width: 100%;
}
.profile-digit {
    font-size: xx-large;
    padding-top: 25px;
}
.profile-text {
    font-size: smaller;
}
.profile_info-settings img{
    height: 18px;
    width: 18px;
}
.profile_info-settings a {
    display: block;
}
.profile_info-settings:hover {
    background-color: #edeef0;
}

.profile_post_info {
    text-align: center;
    float: left;
    width: 100%;
}
.profile_post_info-topics, .profile_post_info-messages  {
    float: left;
    width: 50%;
    height: 100px;
}
.profile_post_info-topics a, .profile_post_info-messages a  {
    display: block;
}
.profile_post_info-topics:hover, .profile_post_info-messages:hover  {
    background-color: #edeef0;
}


.sign_up_header a{
    display: block;
    font-size: 36px;
    color: #afafaf;
    text-align: center;
}


@media (min-width: 750px){
    .profile_info_block {
        float: left;
        margin-left: 1%;
        width: 79%;
    }

    .profile_info-rating {
        float: left;
        margin-left: 1%;
        width: 18%;
    }

    .profile_post_info {
        float: left;
        margin: 0 1%;
        width: 98%;
    }

    .topics_block-item, .sign_up_container {
        float: left;
        margin-left: 1%;
        width: 98%;
    }

    .info_change, .password_change {
        float: left;
        margin-left: 1%;
        width: 48%;
    }



}