.profile_info_block {
    float: left;
    width: 100%;
}
.profile_info-name {
    width: 89%;
    float: left;
    padding: 10px 0 0 1%;
    font-size: x-large;
    font-weight: bold;

}
.profile_info-settings {
    float: right;
    text-align: right;
    margin: 10px 1% 10px;
}
.profile_info-email {
    float: left;
    width: 98%;
    padding: 10px 1% 0 1%;
    word-wrap: break-word;
}
.profile_info-about {
    width: 98%;
    float: left;
    padding: 10px 1% 10px 1%;
    word-wrap: break-word;
}
.profile_info-rating {
    background-color: #11ff8e;
    float: left;
    text-align: center;
    height: 100px;
    width: 100%;
}
.profile-digit {
    font-size: xx-large;
    padding-top: 25px;
}
.profile-text {
    font-size: smaller;
}
.profile_info-settings img{
    height: 18px;
    width: 18px;
}
.profile_info-settings a {
    display: block;
}

.profile_post_info {
    text-align: center;
    float: left;
    width: 100%;
}
.profile_post_info-topics, .profile_post_info-messages  {
    float: left;
    width: 50%;
    height: 100px;
}
.profile_post_info-topics a, .profile_post_info-messages a  {
    display: block;
}
.profile_post_info-topics:hover,
.profile_post_info-messages:hover{
    background-color: #edeef0;
}


.sign_up_header a{
    display: block;
    font-size: 36px;
    color: #000000;
    text-align: center;
}
.img_change img{
    width: 40%;
    margin: 1% 30%;
}
.profile_img img {
    height: 150px;
    width: 150px;
}
.profile_img {
    text-align: center;
}


@media (min-width: 960px){
    .profile_img {
        text-align: center;
        float: left;
        width: 19%;
        margin-left: 1%;
    }
    .profile_info_block {
        float: left;
        margin-left: 1%;
        width: 59%;
    }

    .profile_info-rating {
        float: left;
        width: 19%;
    }

    .profile_post_info {
        float: left;
        margin: 0 2%;
        width: 94%;
    }

    .info_change, .password_change {
        float: left;
    }

    article {
        float: left;
        margin-left: 1%;
        width: 80%;
    }
    article>hr {
        width: 98%;
    }
    .topics_block-item {
        float: left;
        width: 80%;
    }
    .topics_block-item-date-author {
        float: left;
        width: 20%;
    }
    hr {
        float: left;
        width: 80%;
    }
    .messages_block {
        width: 80%;
    }

    .sign_up_container {
        border-radius: 5px;
        border: 1px solid #969696;
        margin-bottom: 20px;
    }


}