<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>NetworkController</servlet-name>
    <servlet-class>by.tr.likeitnetwork.controller.NetworkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetworkController</servlet-name>
    <url-pattern>/NetworkController</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>by.tr.likeitnetwork.controller.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/NetworkController</url-pattern>
  </filter-mapping>

  <filter>
    <display-name>LocaleFilter</display-name>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>by.tr.likeitnetwork.controller.filter.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/NetworkController</url-pattern>
  </filter-mapping>

  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>by.tr.likeitnetwork.controller.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/NetworkController</url-pattern>
  </filter-mapping>

</web-app>


